body {
    overflow-y: hidden;
    background: #000;
}

nav .logo {
    margin-top: 10px;
    padding: 50px 55px;
}

nav .logo img {
    margin-top: 100px;
    width: 150px;
}


main.cardWrapperMovie {
    overflow-y: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}

main.cardWrapperMovie .card {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    height: 100vh;
    width: 71vw;
    padding: 0 0 0 10vw;
}

main.cardWrapperMovie .card .img {
    height: 100vh;
    width: auto;
    position: fixed;
    right: 0;
}

main.cardWrapperMovie .card .img::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100px;
    background: linear-gradient(to left, transparent, black);
    z-index: 100;
}

main.cardWrapperMovie .card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main.cardWrapperMovie .card p {
    z-index: 5;
    width: 100%;
}


main.cardWrapperMovie .card p.genre {
    width: 30%;
    display: block;
    padding-bottom: 5px;
    color: rgb(173, 173, 173);
}

main.cardWrapperMovie .card p.date {
    margin-right: 3vw;
    width: 20%;
    display: block;
    padding-bottom: 5px;
    color: rgb(173, 173, 173);
}

main.cardWrapperMovie .card p.popularity {
    width: 10%;
    display: block;
    padding-bottom: 5px;
    color: rgb(173, 173, 173);
}

main.cardWrapperMovie .card h3 {
    width: 100%;
    font-size: 5.5em;
    padding-top: 20px;
    z-index: 5;

}

main.cardWrapperMovie .card .btn {
    z-index: 5;
    color: white;
    padding: 10px;
    margin-top: 20px;
    background: red;
    border: 2px solid red;
    border-radius: 10%;
    cursor: pointer;
    display: flex;
}

.trailerContainer{
    display: none;
}

.trailerContainer.showTrailer{
    display: block;
}

.bgOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background: #000000de;
    width: 100vw;
    height: 100vh;
    z-index: 149;
}

.trailer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 150;
}

iframe {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 50.625vw;

}

@media (orientation: landscape){
    iframe{
        height: 40.625vw;
    }
}

@media all and (max-width:580px) {
    main.cardWrapperMovie .card h3 {
        font-size: 3.5em;
    }

    main.cardWrapperMovie .card {
        padding: 0 0 0 15vw;
    }
}