*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #141414;
    color: white;
    font-family: 'Netflix Sans';
}



/* LOGIN */
.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #141414;
    z-index: 300;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 31%);
}

.login .logo {
    text-align: start;
    width: 100%;
    padding: 0 50px;
    cursor: pointer;
}

.login .logo img {
    width: 200px;
    height: auto;
}

.login h1 {
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: unset;
}

.login .profiles {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}

.login .profiles img {
    width: 150px;
    border-radius: 7%;
}

.login .profiles p {
    text-align: center;
    font-size: 24px;
    color: gray;
}

.login .profiles .profile {
    cursor: pointer;
}

.login #noLogin {
    color: gray;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

.login #noLogin p {
    padding: 10px;
    display: block;
    border: 2px solid gray;
    text-align: center;
    width: 50vw;
}


/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(black, transparent);
    height: 41px;
    width: 100vw;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    z-index: 3;
}

nav .logo {
    margin-top: 10px;
    padding: 25px 15px;
    cursor: pointer;
}

nav .logo img {
    width: 55px;
}

nav #account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    cursor: pointer;
}

nav #account #avatar img {
    width: 35px;
    border-radius: 5px;
}

nav #account #avatar {
    padding: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: none;
}

/* MAIN */
main.index{
    transform: translateY(-30px);
    height: 40vh;
}

main.index h2.all {
    /* display: inline-block; */
    font-size: 24px;
    padding: 0 8px 2px 8px;
    background-image: linear-gradient(transparent, black);
    transform: translate(0, 34px);
}

main.index h2.list {
    /* display: inline-block; */
    font-size: 24px;
    padding: 0 8px 2px 8px;
    background-image: linear-gradient(transparent, black);
    transform: translate(0, -36.5px);
}

main.index .cardWrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    height: 177px;
    ;
}

main.index .cardWrapper img {
    width: 180px;
    padding: 0 5px 5px 5px;
    object-fit: cover;
}

main.index .cardWrapper .card span {
    position: relative;
    top: -100px;
    left: 10px;
    z-index: 100;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
}

main.index .cardWrapper .card span.star {
    color: gold;
    font-size: 0px;
    border: none;
}

main.index .cardWrapper h3 {
    width: 170px;
    position: relative;
    bottom: -96px;
    padding: 2px 0 2px 5px;
    margin: 0 0 0 5px;
    background-image: linear-gradient(transparent, black);
}

main.index .cardWrapper .card .popularity,
main.index .cardWrapper .card .date {
    display: none;
}

main.index .cardWrapper .card:hover {
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
    z-index: 299;
}

main.index .cardWrapper .card {
    cursor: pointer;
    z-index: 298;
}


/* MYLIST */
main.index .cardWrapperList {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    height: 200px;
    transform: translateY(-81px);
}

main.index .cardWrapperList img {
    width: 180px;
    padding: 0 5px 5px 5px;
    object-fit: cover;
}

main.index .cardWrapperList .card span {
    position: relative;
    top: -95px;
    left: 10px;
    z-index: 100;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
}

main.index .cardWrapperList .card span.star {
    color: gold;
    display: none;
}

main.index .cardWrapperList h3 {
    width: 170px;
    position: relative;
    bottom: 57px;
    padding: 2px 0 2px 5px;
    margin: 0 0 0 5px;
    background-image: linear-gradient(transparent, black);
}

main.index .cardWrapperList .card .popularity,
main.index .cardWrapperList .card .date {
    display: none;
}

main.index .cardWrapperList .card:hover {
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
    z-index: 999;
}

main.index .cardWrapperList .card {
    width: 180px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    z-index: 298;
}


.hide {
    display: none;
}

.show {
    /* display: block !important; */
    font-size: 20px !important;
    border: 2px solid white !important;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* HERO */
.hero {
    position: relative;
    top: 0;
    left: 0;
    height: 55vh;
    width: 100vw;
}

.hero .card {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    height: 100%;
    width: 71vw;
    padding: 0 0 0 10vw;
}

.hero .card .img {
    height: 100%;
    width: 100vw;
    position: absolute;
    right: 0;
}

.hero .card .img::before {
    content: '';
    position: absolute;
    bottom: -1px;
    height: 100px;
    width: 100%;
    background: linear-gradient(to bottom, transparent, #141414);
    z-index: 5;
}

.hero .card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero .card p {
    z-index: 5;
    width: 100%;
    text-shadow: 0px 0px 26px rgba(0, 0, 0, 1);
}


.hero .card p.genre {
    width: 20%;
    display: block;
    padding-bottom: 5px;
    color: #d4d4d4;
}

.hero .card p.date {
    width: 50%;
    display: block;
    padding-bottom: 5px;
    color: #d4d4d4;
}

.hero .card p.popularity {
    width: 20%;
    display: block;
    padding-bottom: 5px;
    color: #d4d4d4;
}

.hero .card h3 {
    width: 100%;
    font-size: 3.5em;
    padding-top: 20px;
    z-index: 5;
    text-shadow: 0px 0px 26px rgba(0, 0, 0, 1);

}

footer{
    background: #000;
    width: 100vw;
    height: 45px;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 12px;
}

/* MEDIA QUERY */
@media all and (max-width:580px) {
    .login .profiles {
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: baseline;
        align-content: baseline;

    }

    .login .profiles .profile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .login .profiles img {
        width: 130px;
        border-radius: 7%;
        text-align: center;
    }

    .login .profiles p {
        display: block;
        text-align: center;
        font-size: 24px;
        color: gray;
        width: 100%;
    }

    .login h1 {
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: unset;
    }

    .login .logo {
        text-align: center;
        width: 100%;
        padding: 0 50px;
    }

    .login .logo img {
        width: 20vw;
        height: auto;
    }

    .login #noLogin {
        transform: translate(0, -68px);
    }

    /* .login #noLogin p{
        /* padding: 10px;
        display: block;
        border: 2px solid gray;
        text-align: center;
        width: 50vw; }*/


    main.index .cardWrapper .card:hover {
        transform: scale(1);
        transition: all 0.5s ease-in-out;
        z-index: 101;
    }

    main.index .cardWrapperList .card:hover {
        transform: scale(1);
        transition: all 0.5s ease-in-out;
        z-index: 999;
    }
}


@media all and (max-height:780px) and (max-width:580px) {


    .login .profiles img {
        width: 100px;
    }

    .login .profiles p {
        font-size: 20px;
    }


    .login #noLogin {
        transform: translate(0, -80px);
    }
}

@media all and (min-width:580px) {
    .hero .card p.genre {
        width: 30%;
      
    }
    
    .hero .card p.date {
        width: 35%;
        
    }
    
    .hero .card p.popularity {
        width: 20%;
       
    }
}